In [1]:
import time
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
import random
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

#import gender_guesser.detector as gender
#from genderize import Genderize

#Dependancies for scraping IMDB
# from https://github.com/msaqib4203/IMDB-API
from bs4 import BeautifulSoup
import requests
import json

# data from:
# https://www.imdb.com/interfaces/

In [2]:
def parsePersons(persons):
    names = []
    if isinstance(persons,dict):
        names.append(persons['name'])
        return names

    for person in persons:
        if person['@type'] == "Person":
            names.append(person['name'])
    return names

def getJSON(html):
    data = {}
    data['id']          = html.find(attrs={'property':'pageId'})['content']
    data['url']         = 'https://www.imdb.com/title/'+ data['id']
    html_json           = html.find(attrs={'type':'application/ld+json'}).text.strip()
    fetchedJson         = json.loads(html_json)
    data['poster']      = html.find(attrs={'class':'poster'}).find('img')['src']
    title_wrapper       = html.find(attrs={'class':'title_wrapper'}).text.strip()
    data['title']       = title_wrapper[:title_wrapper.find(')')+1]
    data['rating']      = html.find(itemprop='ratingValue').text
    data['bestRating']  = html.find(itemprop='bestRating').text
    data['votes']       = html.find(itemprop='ratingCount').text
    data['rated']       = fetchedJson['contentRating']
    data['genres']      = fetchedJson['genre']
    data['description'] = fetchedJson['description']
    data['cast']        = parsePersons(fetchedJson['actor'])
    data['writers']     = parsePersons(fetchedJson['creator'])
    data['directors']   = parsePersons(fetchedJson['director'])
    return data 

def getHTML(url):
    response = requests.get(url)
    return BeautifulSoup(response.content,'html.parser')

def getURL(input):
    try:
        if input[0] == 't' and input[1] == 't':
            html = getHTML('https://www.imdb.com/title/'+input+'/')

        else:
            html = getHTML('https://www.google.co.in/search?q='+input)
            for cite in html.findAll('cite'):
                if 'imdb.com/title/tt' in cite.text:
                    html = getHTML(cite.text)
                    break
        return getJSON(html)
    except Exception as e:
        #print(e)
        return 'Invalid input or Network Error!'

# Import titles

In [3]:
fpath = "./title.basics.tsv/data.tsv"
df_title = pd.read_csv(fpath, sep='\t')

C:\Users\CANCELLIERIE\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_title.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short"
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
9,tt0000010,short,Exiting the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short"

# Download by time periods

In [13]:
year = 2010

In [14]:
print('total number of titles', len(df_title[df_title['startYear'] != '\\N']))
dfdwn = df_title[(df_title['startYear'] != '\\N') & (df_title['isAdult'] == 0) & (df_title['titleType'] == 'movie')]
dfdwn = dfdwn[dfdwn['startYear'].astype(int) == year]
print()
print('Year to donwload            :', year)
print('number of titles to download:', len(dfdwn))
print()
dfdwn.head()

total number of titles 5844555

Year to donwload            : 2010
number of titles to download: 11929

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
142337,tt0146592,movie,Pál Adrienn,Pál Adrienn,0,2010,\N,136,Drama
149507,tt0154039,movie,So Much for Justice!,Oda az igazság,0,2010,\N,100,History
157865,tt0162942,movie,Children of the Green Dragon,A zöld sárkány gyermekei,0,2010,\N,89,Drama
220825,tt0230212,movie,The Final Journey,The Final Journey,0,2010,\N,120,Drama
299414,tt0312305,movie,Quantum Quest: A Cassini Space Odyssey,Quantum Quest: A Cassini Space Odyssey,0,2010,\N,45,"Adventure,Animation,Sci-Fi"

In [18]:
start      = time.time()
df_descr   = pd.DataFrame(columns = ['tconst', 'description'])
#dfshuffled = dfdwn[:].sample(frac=1)


i = 0
j = 0
for title in dfshuffled['tconst'].unique()[8000:]:
    j = j +1
    if j % 50==0:
        print('Attempted # movies, downloaded:',j,i)
    newinfo = getURL(title)
    try:
        new_row = [title, newinfo['description']]
        df_descr.loc[i] = new_row
        i = i+1
    except:
        pass
end = time.time()
print()
print('time elapsed:', end-start)
df_descr.to_csv('IMDB_movie_description_' + str(year) + '.csv')

Attempted # movies, downloaded: 50 8
Attempted # movies, downloaded: 100 13
Attempted # movies, downloaded: 150 24
Attempted # movies, downloaded: 200 32
Attempted # movies, downloaded: 250 40
Attempted # movies, downloaded: 300 45
Attempted # movies, downloaded: 350 56
Attempted # movies, downloaded: 400 65
Attempted # movies, downloaded: 450 77
Attempted # movies, downloaded: 500 85
Attempted # movies, downloaded: 550 96
Attempted # movies, downloaded: 600 101
Attempted # movies, downloaded: 650 115
Attempted # movies, downloaded: 700 126
Attempted # movies, downloaded: 750 138
Attempted # movies, downloaded: 800 147
Attempted # movies, downloaded: 850 153
Attempted # movies, downloaded: 900 162
Attempted # movies, downloaded: 950 172
Attempted # movies, downloaded: 1000 179
Attempted # movies, downloaded: 1050 190
Attempted # movies, downloaded: 1100 203
Attempted # movies, downloaded: 1150 212
Attempted # movies, downloaded: 1200 222
Attempted # movies, downloaded: 1250 225
Attempted # movies, downloaded: 1300 234
Attempted # movies, downloaded: 1350 242
Attempted # movies, downloaded: 1400 256
Attempted # movies, downloaded: 1450 263
Attempted # movies, downloaded: 1500 270
Attempted # movies, downloaded: 1550 279
Attempted # movies, downloaded: 1600 291
Attempted # movies, downloaded: 1650 297
Attempted # movies, downloaded: 1700 303
Attempted # movies, downloaded: 1750 308
Attempted # movies, downloaded: 1800 321
Attempted # movies, downloaded: 1850 330
Attempted # movies, downloaded: 1900 339
Attempted # movies, downloaded: 1950 346
Attempted # movies, downloaded: 2000 350
Attempted # movies, downloaded: 2050 359
Attempted # movies, downloaded: 2100 365
Attempted # movies, downloaded: 2150 374
Attempted # movies, downloaded: 2200 385
Attempted # movies, downloaded: 2250 394
Attempted # movies, downloaded: 2300 402
Attempted # movies, downloaded: 2350 412
Attempted # movies, downloaded: 2400 421
Attempted # movies, downloaded: 2450 431
Attempted # movies, downloaded: 2500 440
Attempted # movies, downloaded: 2550 450
Attempted # movies, downloaded: 2600 458
Attempted # movies, downloaded: 2650 473
Attempted # movies, downloaded: 2700 481
Attempted # movies, downloaded: 2750 491
Attempted # movies, downloaded: 2800 496
Attempted # movies, downloaded: 2850 506
Attempted # movies, downloaded: 2900 515
Attempted # movies, downloaded: 2950 524
Attempted # movies, downloaded: 3000 532
Attempted # movies, downloaded: 3050 547
Attempted # movies, downloaded: 3100 554
Attempted # movies, downloaded: 3150 561
Attempted # movies, downloaded: 3200 566
Attempted # movies, downloaded: 3250 573
Attempted # movies, downloaded: 3300 585
Attempted # movies, downloaded: 3350 593
Attempted # movies, downloaded: 3400 598
Attempted # movies, downloaded: 3450 607
Attempted # movies, downloaded: 3500 613
Attempted # movies, downloaded: 3550 618
Attempted # movies, downloaded: 3600 625
Attempted # movies, downloaded: 3650 631
Attempted # movies, downloaded: 3700 645
Attempted # movies, downloaded: 3750 655
Attempted # movies, downloaded: 3800 662
Attempted # movies, downloaded: 3850 668
Attempted # movies, downloaded: 3900 680

time elapsed: 3788.2985808849335

In [11]:
df_descr.to_csv('IMDB_movie_description_' + str(year) + '.csv')